*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  width: 500px;
  height: auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
}

h2,
h4 {
  margin: 5px 0;
}

.addBook {
  position: relative;
  order: 2;
  margin-top: 20px;
}

p {
  margin: 0;
}

.listItem {
  background: #f2f2f2;
  display: flex;
  height: 120px;
  position: relative;
}

.listItem:not(:first-child) {
  margin-top: 20px;
}

.title {
  cursor: pointer;
}

.img {
  height: 100%;
  margin-right: 10px;
}

.editBtn {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  border-right: 1px solid rgb(117, 116, 116);
  padding: 5px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.imgModal {
  height: 200px;
  width: auto;
  object-fit: cover;
  margin-top: 5px;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0.3;
  z-index: -1;
}

.form {
  height: 500px;
  width: 300px;
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  padding: 30px;
  position: relative;
}

.form button {
  color: #f2f2f2;
  border-radius: 10px;
  background: #333;
  border: none;
  padding: 10px;
  position: absolute;
  outline: none;
  cursor: pointer;
}

.discard {
  left: 20px;
  bottom: 20px;
}

.save {
  right: 20px;
  bottom: 20px;
}

label {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
}

label:not(:first-child) {
  margin-top: 20px;
}

input:disabled {
  background: none;
  border: none;
  color: #333;
  text-transform: capitalize;
}

.addBook {
  background: #333;
  padding: 10px 0;
  border-radius: 10px;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
}
