/*

write your code here

*/

.tm-main-nav {
  box-shadow: 0px 0px 10px 0px rgba(61, 55, 61, 0.7);
}

.tm-content-header {
  color: rgba(61, 55, 61, 0.7);
  box-shadow: 0px 0px 10px 0px rgba(61, 55, 61, 0.7);
}

.tm-banner-inner {
  background: #fff;
}

.tm-nav-item-link:hover {
  background: lightblue;
  color: #fff;
}

.tm-banner {
  background: linear-gradient(burlywood, lightskyblue);
}

.tm-banner-text {
  letter-spacing: 2px;
  text-shadow: 0px 12px 2px lightblue;
  animation: rotatedText 2s ease;
}

@keyframes rotatedText {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(0);
  }
}

@media print {
  .tm-content-header {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.7);
  }
}

section {
  position: relative;
  box-shadow: 0px 0px 10px 0px rgba(61, 55, 61, 0.7);
}

section:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  background: lightblue;
  clip-path: polygon(100% 0, 0% 100%, 0 0);
}

.flex-2-col {
  display: flex;
}

.tm-team-description-container {
  order: 2;
  align-self: center;
}

.tm-team-img {
  flex: 2;
}

.tm-section-title {
  text-align: center;
}

.tm-section-description {
  font-style: italic;
  font-weight: 500;
  color: rgba(61, 55, 61, 0.7);
  text-indent: 20px;
}

.tm-team-img {
  order: 1;
  flex: 2;
}

@media print {
  .flex-2-col {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .tm-team-img {
    display: none;
  }

  .tm-team-description-container {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  .padding-medium {
    padding: 0;
    margin: 0;
  }

  .padding-medium h2 {
    font-weight: 400;
    color: lightblue;
  }
}

#about .box:hover {
  background: lightblue;
}

#about .box:hover .tm-box-bg-title {
  color: #fff;
  font-weight: 500;
}

.padding-medium h2 {
  text-align: center;
  color: lightblue;
}

ol {
  list-style: decimal-leading-zero;
}

ol li a.text {
  position: relative;
}

ol li a.text:after {
  content: 'New';
  position: absolute;
  top: -5px;
  right: -25px;
  color: red;
  font-weight: 600;
  font-size: 12px;
}

ol li a:hover {
  color: red;
  font-weight: 600;
}

ol li a:hover:before {
  content: '>';
}

@media print {
  .heading {
    padding: 0;
    margin: 0;
  }

  ol {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
    height: 190px;
  }

  ol li a.text:after {
    content: '';
    display: none;
  }

  ol li:not(:first-child) {
    margin-top: 20px;
  }
}

.box-work {
  padding: 10px;
}

.box-work p {
  font-style: italic;
}

.box-work p::first-letter {
  font-weight: bold;
}

.box-work:nth-child(even) {
  background: lightblue;
  color: #fff;
}

.flex-item .tm-section-title {
  text-align: center;
}

#contact .tm-section-title {
  text-align: right;
}

[type$='text'],
[type$='email'] {
  position: relative;
  z-index: 3;
  border: none;
  border-bottom: 1px solid lightblue;
}

[type$='text']:focus,
[type$='email']:focus {
  background: lightblue;
  color: #fff;
}

.form-group:nth-child(3) {
  position: relative;
}

.form-group:nth-child(3):after {
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 5px;
  right: 0px;
  z-index: 3;
  background: url('../img/email-icon.png') center/cover no-repeat;
}

.btn-primary {
  background: none;
  float: right;
  border-radius: 0;
  color: lightblue;
  border-width: 2px;
  border-color: lightblue;
  width: 140px;
}

.btn-primary:hover {
  background: #20b2aa;
  color: #fff;
  border-color: #20b2aa;
}

@media print {
  body {
    padding: 0;
    margin: 0;
  }

  .tm-content-box {
    padding: 0;
    margin: 0;
  }

  .tm-banner {
    padding: 20px;
  }

  .tm-main-content {
    margin: 0;
    padding: 0;
  }

  .tm-sidebar {
    display: none;
  }

  .tm-main-content {
    padding: 0;
    margin: 0;
  }

  .tm-main-content > * {
    padding: 0;
    margin: 0;
  }

  #about,
  .boxes,
  #ideas .carousel-indicators,
  #contact {
    display: none;
  }

  .tm-content-box .img-contact-us,
  .tm-content-box #contact {
    display: none;
  }

  .img-contact-us {
    display: none;
  }

  #home {
    padding: 0;
    margin: 0;
  }

  #tmCarousel {
    padding: 0;
    margin: 0;
  }

  .tm-section-description {
    text-align: center;
    margin-top: 10px;
  }
}
