$gradiend-green: linear-gradient(90deg, rgba(215, 213, 129, 1) 0%, rgba(185, 214, 146, 1) 100%);
$gradient-blue: linear-gradient(90deg, rgba(201, 217, 252, 1) 0%, rgba(157, 179, 255, 1) 100%);
$gradient-red: linear-gradient(90deg, rgba(242, 127, 129, 1) 0%, rgba(245, 168, 169, 1) 100%);
$black: #4d4c49;
