// Write your styles here

@mixin link($clr) {
  color: $clr;
}

@mixin button($bg, $clr) {
  background: none;
  outline: none;
  background: $bg;
  color: $clr;
}

@mixin flexItem($algn, $jst, $drct) {
  display: flex;
  align-items: $algn;
  justify-content: $jst;
  flex-direction: $drct;
}

$borderRadius: 10px;
$whiteSpace: 20px;

$fontWeight: (
  'regular': 400,
  'semi-bold': 600,
  'bold': 700,
);

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Hind', sans-serif;
}

body {
  background: $background;
}

.header {
  height: 100vh;
  background: url($backgroundImg) center/cover no-repeat;
  border-radius: 0 0 45% 0;

  &-wrap {
    width: 80vw;
    height: 80%;
    margin: auto;
    padding: 30px 0 100px 0;
    @include flexItem(flex-start, space-between, column);

    .landing-logo {
      display: flex;
      justify-content: center;

      p {
        display: flex;
        flex-direction: column;
        width: 100px;
        text-align: center;
        font-size: 26px;
        line-height: 24px;
        font-weight: map-get($fontWeight, 'semi-bold');
        color: $titleClr;
        padding-top: 3px;
        span {
          align-self: center;
          font-size: 14px;
          font-weight: map-get($fontWeight, 'regular');
          line-height: 14px;
        }
      }
    }

    & > * {
      &:last-child {
        width: 40%;
        @include flexItem(center, space-between, row);
      }
    }
  }

  &_heading {
    font-size: 64px;
    color: $titleClr;
    font-weight: 600;
    width: 50%;
    line-height: 64px;
    position: relative;
    z-index: 1;
    padding-top: 50px;

    &:before {
      content: '';
      position: absolute;
      background: $textBefore;
      height: 55px;
      width: 270px;
      bottom: 0;
      left: 0;
      z-index: -1;
    }
  }

  &_text {
    width: 50%;
    color: $titleClr;
  }

  &_button {
    @include button($buttonClr, #fff);
    border: none;
    height: 50px;
    width: 160px;
    cursor: pointer;
    font-size: 18px;
    font-weight: map-get($fontWeight, 'regular');
  }

  .login {
    @include link(#fff);
    font-size: 20px;
  }
}

.section {
  width: 1024px;
  margin: 0 auto;
  @include flexItem(center, center, column);

  &_link {
    @include link($fontClr);
  }

  &_text {
    font-size: 36px;
    color: $titleClr;
    position: relative;
    z-index: 1;
    margin: 30px 0;

    &:before {
      @extend .header_heading;
      width: 155px;
      left: 200px;
      bottom: 18px;
    }
  }

  &_card {
    background: $boxBg;
    border-radius: $borderRadius;
    height: 250px;
    width: 960px;
    @include flexItem(center, center, row);
    padding: $whiteSpace;

    &:not(:first-child) {
      margin-top: 30px;
    }

    &_img {
      border-radius: $borderRadius;
      height: 100%;
      flex: 1.5;
    }

    &_right_container {
      flex: 2.5;
      @include flexItem(center, center, column);
      padding: 0 100px;

      & > * + * {
        margin-top: $whiteSpace;
      }
    }

    &_text {
      color: $fontClr;
    }

    &_heading {
      color: #fff;
      font-size: 20px;
    }
  }

  &_banner {
    width: 100%;
    height: 150px;
    background: linear-gradient(to left, $textBefore, $buttonClr);
    margin-top: 80px;
    position: relative;
    top: 50px;
    border-radius: $borderRadius;
    @include flexItem(center, space-evenly, row);

    &_text_wrap {
      @include flexItem(flex-start, center, column);
    }

    &_heading {
      font-size: 28px;
      color: $titleClr;
      font-weight: map-get($fontWeight, 'semi-bold');
      position: relative;
      z-index: 2;

      &:before {
        @extend .header_heading;
        width: 55px;
        left: 120px;
        bottom: 10px;
      }
    }

    &_text {
      color: $fontClr;
    }

    &_button {
      @extend .header_button;
    }
  }
}

.footer {
  height: 300px;
  width: 100%;
  background: $boxBg;
  @include flexItem(flex-end, center, row);
  padding-bottom: 50px;

  &-wrap {
    @include flexItem(center, space-evenly, row);
    margin: 0 auto;
    width: 100%;
  }

  &_logo {
    display: flex;
    justify-content: center;

    p {
      display: flex;
      flex-direction: column;
      width: 100px;
      text-align: center;
      font-size: 26px;
      line-height: 24px;
      font-weight: map-get($fontWeight, 'semi-bold');
      color: $fontClr;
      padding-top: 3px;
      span {
        align-self: center;
        font-size: 14px;
        font-weight: map-get($fontWeight, 'regular');
        line-height: 14px;
      }
    }
  }

  &_text {
    width: 400px;
    color: $fontClr;
  }

  &-cr {
    color: $fontClr;
  }
}
